<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAQeFCX_iCDi_L6zSOAnczqICmMD3I_o8o</string>
	<key>GCM_SENDER_ID</key>
	<string>393953083956</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.shubhamdhage.TodoList</string>
	<key>PROJECT_ID</key>
	<string>swiftuitodolist-c0c3e</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuitodolist-c0c3e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:393953083956:ios:4b1ad3a5a955f92d788061</string>
</dict>
</plist>